body {
background-color: grey;
margin: 0;
padding: 0;
}

h1 {
font-family: 'Ubuntu', sans-serif;
text-align: center;
font-size: 50px;
padding-top: 25px;
padding-bottom: 5px;
}

p {
font-family:  'Ubuntu', sans-serif;
font-size: 24px;
text-align: left;
padding-left: 5%;
padding-right: 5%;
}

a{
font-family: 'Ubuntu', sans-serif;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 45px;
padding-right: 45px;
font-style: normal;
text-decoration-color: purple;
text-decoration: none;
}

a:hover {
background-color: aqua;
color: purple;
}

.textlink {
    padding: 0;
    background-color: none;
    color: purple;
}

#nav-bar{
font-family: 'Ubuntu', sans-serif';
text-align: center;
background-color: black;
font-size: 30px;
overflow: hidden;
padding-top: 20px;
padding-bottom:20px;
}

#wolf{
margin-left: 270px;
}

img {
   padding:5px;
   border:15x solid #021a40;
}


#essay {
margin-right: auto;
margin-left: auto;
width: 250px;
}

.container {
    display: flex;
}

.column {
    flex: 2;
}
